.main {
  display: flex;
  flex-direction: row;
}

.profile_container_left {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  min-width: 350px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .profile_container_left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
}
